* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
}

.free-delivery-section {
  background-color: #2a254b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.text-part-free-d {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: flex;
}

.truckicon {
  margin-right: 8px;
}

.close-icon-free-d {
  color: #fff;
  font-size: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 80px;
}

.header-menu-bar {
  display: none;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #22202e;
  font-size: 24px;
  margin-right: 152px;
}

nav {
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li:not(:last-child) {
  margin-right: 44px;
}

nav ul li a {
  text-decoration: none;
  color: #726e8d;
  font-size: 16px;
}

.header-icons a {
  text-decoration: none;
  color: #22202e;
}

.header-icons a:not(:last-child) {
  margin-right: 16px;
}

.section-1 {
  background-color: #f9f9f9;
  display: flex;
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 47px;
  padding-right: 88px;
}

.section-1-left {
  margin-right: 65px;
}

.section-1-right {
  padding-top: 31px;
  color: #2a254b;
  padding-bottom: 30px;
}

.section-1-right-top {
  padding-bottom: 28px;
  border-bottom: 1px solid #ebe8f4;
}

.section-1-title {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 16px;
}

.section-1-price {
  font-weight: 400;
  font-size: 24px;
}

.section-1-right-bottom {
  padding-top: 24px;
}

.section-1-desc-title {
  margin-bottom: 14px;
}

.section-1-desc {
  margin-bottom: 36px;
}

.dimensions-title {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

.dimension-container {
  display: flex;
  margin-bottom: 40px;
}

.dimension {
  position: relative;
}

.dimension p {
  font-size: 14px;
}

.dimension:not(:last-child) {
  margin-right: 99.5px;
}

.dimension:not(:last-child)::after {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ebe8f4;
  position: absolute;
  right: -50px;
  top: 0;
}

.quantity-title {
  margin-bottom: 12px;
}

.quantity-box {
  background-color: #fff;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  width: 122px;
}

.quantity-box span:nth-child(odd) {
  color: #ebe8f4;
}

.section-1-btns {
  margin-top: 48px;
  display: flex;
}

.section-1-btn-first {
  padding: 16px 32px;
  color: #fff;
  background-color: #2a254b;
  border: none;
  margin-right: 16px;
  cursor: pointer;
}

.section-1-btn-second {
  padding: 16px 32px;
  color: #2a254b;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.section-2 {
  color: #2a254b;
  padding: 64px 80px 59px;
}

.section-2-container {
}

.section-2-title {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 25px;
}

.section-2-cards {
  display: flex;
  margin-bottom: 42px;
  justify-content: center;
}

.section-2-card {
}

.section-2-card:not(:last-child) {
  margin-right: 20px;
}

.section-2-card-title {
  font-weight: 400;
  font-size: 20px;
}

.section-2-card-price {
  font-weight: 400;
  font-size: 18px;
}

.section-2-link {
  display: flex;
  justify-content: center;
}

.section-2-link a {
  padding: 16px 32px;
  color: #2a254b;
  background-color: #f9f9f9;
  text-decoration: none;
}

.section-3 {
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 82px;
  color: #2a254b;
}

.section-3-title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 36px;
}

.section-3-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3-card {
  padding: 48px;
  width: 305px;
  background-color: #f9f9f9;
  height: 244px;
}

.section-3-card:not(:last-child) {
  margin-right: 22px;
}

.section-3-card-icon {
  font-size: 22px;
  color: #2a254b;
}

.card-icon-div {
  margin-bottom: 12px;
}

.section-3-card-info {
  font-size: 19px;
  color: #2a254b;
  margin-bottom: 12px;
}

.section-3-card-desc {
  font-size: 14px;
}

.section-4 {
  display: flex;
  height: 100%;
}

.section-4-left {
  height: 521px;
}

.section-4-right {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-4-title {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 21px;
}

.section-4-subtitle {
  font-weight: 400;
  font-size: 16px;
}

form {
  display: flex;
}

form input {
  background-color: #f9f9f9;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 32px;
  padding-right: 150px;
}

form input::placeholder {
  font-family: "Satoshi", sans-serif;
  color: rgb(150, 150, 150);
  font-size: 16px;
}

form button {
  padding: 16px 32px;
  background-color: #2a254b;
  color: #fff;
  border: none;
}

footer {
  padding-left: 80px;
  padding-top: 53px;
  padding-bottom: 20px;
  padding-right: 80px;
  background-color: #2a254b;
  color: #fff;
}

.footer-top {
  display: flex;
  padding-bottom: 36px;
  border-bottom: 1px #4e4d93 solid;
}

.footer-top-left {
  display: flex;
}

.footer-address {
  margin-right: 65px;
}

.footer-logo {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer-address p {
  font-weight: 400;
  font-size: 14px;
}

.footer-address p:not(:last-child) {
  margin-bottom: 12px;
}

.footer-lists {
  display: flex;
}

.footer-social h1 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
}

.footer-icons {
  margin-right: 170px;
  display: flex;
  list-style: none;
}

.footer-icons li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.footer-icons li:not(:last-child) {
  margin-right: 27px;
}

.footer-lists {
}

.fl {
  list-style: none;
}

.fl p {
  margin-bottom: 12px;
}

.fl li:not(:last-child) {
  margin-bottom: 12px;
}

.fl a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-list-1 {
  margin-right: 109px;
}

.footer-list-2 {
  margin-right: 135px;
}

.footer-bottom {
  padding-top: 16px;
}

.copyright {
  font-size: 14px;
}

@media screen and (max-width: 391px) {
  .free-delivery-section {
    background-color: #2a254b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }

  .text-part-free-d {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .close-icon-free-d {
    margin-left: 10px;
  }

  .text-part-free-d div {
    display: flex;
    align-items: center;
  }

  .truckicon {
    margin-right: 8px;
  }

  .close-icon-free-d {
    color: #fff;
    font-size: 14px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo {
    text-decoration: none;
    color: #22202e;
    font-size: 24px;
    margin-right: 152px;
  }

  nav {
    display: none;
  }

  .header-icons {
    display: flex;
  }

  .header-icons a {
    text-decoration: none;
    color: #22202e;
  }

  .header-icons a:not(:last-child) {
    margin-right: 20px;
  }

  .header-menu-bar {
    display: block;
  }

  .section-1 {
    background-color: #f9f9f9;
    display: block;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
  }

  .section-1-left {
    margin-right: 65px;
  }

  .section-1-left img {
    height: 380px;
    width: 390px;
  }

  .section-1-right {
    padding-top: 28px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    color: #2a254b;
    padding-bottom: 30px;
  }

  .section-1-right-top {
    padding-bottom: 16px;
    border-bottom: 1px solid #ebe8f4;
  }

  .section-1-title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .section-1-price {
    font-weight: 400;
    font-size: 20px;
  }

  .section-1-right-bottom {
    padding-top: 28px;
  }

  .section-1-desc-title {
    margin-bottom: 14px;
    font-size: 14px;
  }

  .section-1-desc {
    margin-bottom: 28px;
    font-size: 14px;
  }

  .dimensions-title {
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #ebe8f4;
    padding-bottom: 12px;
    margin-bottom: 16px;
  }

  .dimension-container {
    display: flex;
    margin-bottom: 28px;
  }

  .dimension {
    position: relative;
  }

  .dimension p {
    font-size: 14px;
  }

  .dimension:not(:last-child) {
    margin-right: 99.5px;
  }

  .dimension:not(:last-child)::after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #ebe8f4;
    position: absolute;
    right: -50px;
    top: 0;
  }

  .quantity-title {
    margin-bottom: 12px;
  }

  .quantity-box {
    background-color: #fff;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .quantity-box span:nth-child(odd) {
    color: #ebe8f4;
  }

  .section-1-btns {
    margin-top: 32px;
    display: block;
  }

  .section-1-btn-first {
    padding: 16px 32px;
    color: #fff;
    background-color: #2a254b;
    border: none;
    margin-right: 0px;
    margin-bottom: 14px;
    cursor: pointer;
    width: 100%;
  }

  .section-1-btn-second {
    padding: 16px 32px;
    color: #2a254b;
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .section-2 {
    color: #2a254b;
    padding-top: 49px;
    padding-left: 26px;
    padding-bottom: 38px;
    padding-right: 0px;
  }

  .section-2-container {
  }

  .section-2-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 36px;
  }

  .section-2-cards {
    display: flex;
    margin-bottom: 32px;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .section-2-card img {
    width: 200px;
    height: 251px;
  }

  .section-2-card:not(:last-child) {
    margin-right: 20px;
  }

  .section-2-card-title {
    font-weight: 400;
    font-size: 20px;
  }

  .section-2-card-price {
    font-weight: 400;
    font-size: 18px;
  }

  .section-2-link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 24px;
  }

  .section-2-link a {
    padding: 16px 32px;
    color: #2a254b;
    background-color: #f9f9f9;
    text-decoration: none;
    width: 100%;
    text-align: center;
  }

  .section-3 {
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 50px;
    color: #2a254b;
  }

  .section-3-title {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 36px;
  }

  .section-3-card-container {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .section-3-card {
    padding: 48px;
    width: 100%;
    background-color: #f9f9f9;
    height: 196px;
  }

  .section-3-card {
    margin-right: 0;
  }

  .section-3-card:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .section-3-card-icon {
    font-size: 22px;
    color: #2a254b;
  }

  .card-icon-div {
    margin-bottom: 12px;
  }

  .section-3-card-info {
    font-size: 19px;
    color: #2a254b;
    margin-bottom: 12px;
  }

  .section-3-card-desc {
    font-size: 14px;
  }

  .section-4 {
    display: block;
    height: 100%;
  }

  .section-4-left {
    height: 358px;
  }

  .section-4-left img {
    width: 390px;
    height: 358px;
  }

  .section-4-right {
    padding-top: 36px;
    padding-bottom: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-4-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 21px;
  }

  .section-4-subtitle {
    font-weight: 400;
    font-size: 14px;
  }

  form {
    display: flex;
    justify-content: center;
    margin-top: 56px;
  }

  form input {
    background-color: #f9f9f9;
    border: none;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 32px;
    padding-right: 38px;
  }

  form input::placeholder {
    font-family: "Satoshi", sans-serif;
    color: rgb(150, 150, 150);
    font-size: 16px;
  }

  form button {
    padding: 16px 32px;
    background-color: #2a254b;
    color: #fff;
    border: none;
  }

  footer {
    padding-left: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 24px;
    background-color: #2a254b;
    color: #fff;
  }

  .footer-top {
    display: block;
    padding-bottom: 40px;
    border-bottom: 1px #4e4d93 solid;
  }

  .footer-top-left {
    display: flex;
  }

  .footer-address {
    margin-right: 30px;
    width: 50%;
  }

  .footer-logo {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .footer-address p {
    font-weight: 400;
    font-size: 14px;
  }

  .footer-address p:not(:last-child) {
    margin-bottom: 12px;
  }

  .footer-lists {
    display: flex;
  }

  .footer-social {
    padding-top: 15px;
    width: 50%;
  }

  .footer-social h1 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .footer-icons {
    margin-right: 0px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  .footer-icons li {
    width: 24px;
    height: 24px;
  }
  .footer-icons li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }

  .footer-icons li:not(:last-child) {
    margin-right: 27px;
  }

  .footer-icons li:nth-child(1) {
    margin-bottom: 20px;
  }
  .footer-icons li:nth-child(2) {
    margin-bottom: 20px;
  }
  .footer-icons li:nth-child(3) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .footer-lists {
    margin-top: 48px;
  }

  .fl {
    list-style: none;
  }

  .fl p {
    margin-bottom: 12px;
  }

  .fl li:not(:last-child) {
    margin-bottom: 12px;
  }

  .fl a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .footer-list-1 {
    margin-right: 0px;
    order: 2;
  }

  .footer-list-2 {
    display: none;
  }

  .footer-list-3 {
    margin-right: 76px;
  }

  .footer-bottom {
    padding-top: 20px;
  }

  .copyright {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 769px) and (min-width: 391px) {
  .free-delivery-section {
    background-color: #2a254b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }

  .text-part-free-d {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
  }

  .truckicon {
    margin-right: 8px;
  }

  .close-icon-free-d {
    color: #fff;
    font-size: 14px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo {
    text-decoration: none;
    color: #22202e;
    font-size: 24px;
    margin-right: 152px;
  }

  nav {
    display: none;
  }

  .header-icons {
    display: flex;
  }

  .header-icons a {
    text-decoration: none;
    color: #22202e;
  }

  .header-icons a:not(:last-child) {
    margin-right: 20px;
  }

  .header-menu-bar {
    display: block;
  }

  .section-1 {
    background-color: #f9f9f9;
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    position: relative;
  }

  .section-1-left {
    margin-right: 0px;
    width: 50%;
    height: 500px;
  }

  .section-1-left img {
    width: 100%;
    height: 500px;
  }

  .section-1-right {
    padding-top: 5px;
    color: #2a254b;
    padding-bottom: 30px;
    width: 50%;
    padding-left: 15px;
    height: 580px;
  }

  .section-1-right-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #ebe8f4;
  }

  .section-1-title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .section-1-price {
    font-weight: 400;
    font-size: 18px;
  }

  .section-1-right-bottom {
    padding-top: 24px;
  }

  .section-1-desc-title {
    margin-bottom: 14px;
  }

  .section-1-desc {
    margin-bottom: 36px;
  }

  .dimensions-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .dimension-container {
    display: flex;
    margin-bottom: 40px;
  }

  .dimension {
    position: relative;
  }

  .dimension p {
    font-size: 14px;
  }

  .dimension:not(:last-child) {
    margin-right: 99.5px;
  }

  .dimension:not(:last-child)::after {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #ebe8f4;
    position: absolute;
    right: -50px;
    top: 0;
  }

  .quantity-title {
    margin-bottom: 12px;
  }

  .quantity-box {
    background-color: #fff;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    width: 122px;
  }

  .quantity-box span:nth-child(odd) {
    color: #ebe8f4;
  }

  .section-1-btns {
    margin-top: 48px;
    display: flex;
  }

  .section-1-btn-first {
    padding: 16px 32px;
    color: #fff;
    background-color: #2a254b;
    border: none;
    margin-right: 16px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 360px;
  }

  .section-1-btn-second {
    padding: 16px 32px;
    color: #2a254b;
    background-color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 360px;
  }

  .section-2 {
    color: #2a254b;
    padding: 64px 30px 59px;
  }

  .section-2-container {
  }

  .section-2-title {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 25px;
    margin-left: 50px;
  }

  .section-2-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
    justify-content: center;
  }

  .section-2-card {
  }
  .section-2-card:nth-child(1) {
    margin-bottom: 20px;
  }

  .section-2-card:nth-child(1) img {
    width: 600px;
  }

  .section-2-card img {
    width: 280px;
  }

  .section-2-card:not(:last-child) {
    margin-right: 0;
  }

  .section-2-card:nth-child(2) {
    margin-right: 35px;
  }

  .section-2-card-title {
    font-weight: 400;
    font-size: 20px;
  }

  .section-2-card-price {
    font-weight: 400;
    font-size: 18px;
  }

  .section-2-link {
    display: flex;
    justify-content: center;
  }

  .section-2-link a {
    padding: 16px 32px;
    color: #2a254b;
    background-color: #f9f9f9;
    text-decoration: none;
  }

  .section-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #2a254b;
  }

  .section-3-title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 36px;
  }

  .section-3-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  .section-3-card {
    padding: 48px;
    width: 305px;
    background-color: #f9f9f9;
    height: 244px;
  }

  .section-3-card:not(:last-child) {
    margin-right: 0px;
  }

  .section-3-card-icon {
    font-size: 22px;
    color: #2a254b;
  }

  .card-icon-div {
    margin-bottom: 12px;
  }

  .section-3-card-info {
    font-size: 19px;
    color: #2a254b;
    margin-bottom: 12px;
  }

  .section-3-card-desc {
    font-size: 14px;
  }

  .section-4 {
    display: block;
    height: 100%;
  }

  .section-4-left {
    height: 500px;
    width: 100%;
  }

  .section-4-left img {
    height: 500px;
    width: 100%;
  }

  .section-4-right {
    padding: 50px;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .section-4-title {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 21px;
  }

  .section-4-subtitle {
    font-weight: 400;
    font-size: 16px;
  }

  form {
    display: flex;
    justify-content: center;
  }

  form input {
    background-color: #f9f9f9;
    border: none;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 32px;
    padding-right: 150px;
  }

  form input::placeholder {
    font-family: "Satoshi", sans-serif;
    color: rgb(150, 150, 150);
    font-size: 16px;
  }

  form button {
    padding: 16px 32px;
    background-color: #2a254b;
    color: #fff;
    border: none;
  }

  footer {
    padding-left: 80px;
    padding-top: 53px;
    padding-bottom: 20px;
    padding-right: 80px;
    background-color: #2a254b;
    color: #fff;
  }

  .footer-top {
    display: flex;
    padding-bottom: 36px;
    border-bottom: 1px #4e4d93 solid;
    flex-wrap: wrap;
  }

  .footer-top-left {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
  }

  .footer-address {
    margin-right: 88px;
    width: 100%;
  }

  .footer-address p {
    white-space: nowrap;
  }
  .footer-logo {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .footer-address p {
    font-weight: 400;
    font-size: 14px;
  }

  .footer-address p:not(:last-child) {
    margin-bottom: 12px;
  }

  .footer-lists {
    display: flex;
    margin-top: 50px;
  }

  .footer-social {
    position: relative;
    top: 15px;
  }

  .footer-social h1 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .footer-icons {
    margin-right: 170px;
    display: flex;
    list-style: none;
  }

  .footer-icons li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }

  .footer-icons li:not(:last-child) {
    margin-right: 27px;
  }

  .footer-lists {
    display: flex;
    justify-content: space-between;
    /* padding-inline: 35px; */
    width: 100%;
  }

  .fl {
    list-style: none;
  }

  .fl p {
    margin-bottom: 12px;
  }

  .fl li:not(:last-child) {
    margin-bottom: 12px;
  }

  .fl a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .footer-list-1 {
    margin-right: 0px;
  }

  .footer-list-2 {
    margin-right: 0px;
    order: -1;
  }

  .footer-bottom {
    padding-top: 16px;
  }

  .copyright {
    font-size: 14px;
  }
}
